/**
*  _variables.scss
*/

/* colors */
$color_text: #4a4a4a;
$color_white: #ffffff;
$color_links: #6455ff;
$color_links_hower: #463bb3;
$color_headings: #020202;

/* typography */
$font-family_roboto: 'Roboto', sans-serif;
$font-family_roboto_c: 'Roboto Condensed', sans-serif;

/* buttons */
$background_button: #2FB297;
